* {
    box-sizing: border-box;
  }
  main{
    margin-top: 0;
  }
  div {
    display: block;
  }
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  /* DOCTERS TABLE */
  table {
    border-collapse: collapse;
    width: 90%;
  }
  
  th, td {
    border: 1px solid black;
    text-align: left;
    padding: 10px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f200;
  }
  /* CSS code for the top bar with contact number and social links */
  .topbar {
      background-color: #333;
      color: #fff;
      padding: 5px 0;
    }
    .topbar .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1200px;
      margin: 0 auto;
    }
    .topbar .contact {
      font-size: 14px;
      text-align: left;
    }
    .fa {
      padding: 6px;
      font-size: 30px;
      width: 50px;
      text-align: center;
      text-decoration: none;
    }
  .fa:hover {
          opacity: 0.7;
        }
        .fa-facebook {
          background: #3B5998;
          color: white;
        }
        .fa-twitter {
          background: #55ACEE;
          color: white;
        }
        .fa-instagram
        {
          background: #125688;
    color: white;
        }
    
    /* Cmiddle header with logo, hospital name, and navigation bar */
    header {
      background-color: rgba(243, 97, 109, 0.854);
      border-bottom: 1px solid #ccc;
    }
    header .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1200px;
      margin: 0 auto;
      padding: 7px;
    }
    header h1{
      text-align: left;
  
    }
    header .hospital-name{
      text-align: center;
    }
    header .logo {
      width: 50px;
      height: 50px;
    }
    header .hospital-name {
      font-size: 35px;
      margin: 0 20px;
    }
    header nav {
      display: flex;
    }
    header nav ul {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0; 
    }
    header nav ul li {
      margin-left: 20px;
    }
    header nav ul li :hover{
        color:#ffffff;
        border-bottom:2px solid rgb(255, 255, 255);
    }
    header nav ul li a {
      text-decoration: none;
      color: black;
      font-size: 18px;
    }
    header p{
      margin-right: auto;
      text-align: left  ;
      font-family:fantasy;
      font-size: 35px;
    }
    /* Containre main page all detail*/
    .mid{
        padding-left:20px;
        padding-right:5px;
        padding-top: 10px;
        padding-bottom: 10px;
        position: relative;
    }
    .mid h2{
        text-align: left;
  text-decoration: underline;
  text-decoration-color: rgba(243, 97, 109, 0.854);
  text-decoration-style: initial;
  font-size: 30px;
  color: #000000;
}

    /* CSS code for the dropdown menu */
  /* Dropdown Button */
  .dropbtn {
      color: rgb(0, 0, 0);
      padding: 16px;
      font-size: 18px;
      border: none;
    }
    
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: rgba(243, 97, 109, 0.854);}
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {display: block;}
    
    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
      color: white;
    }
  
    /* CSS CODE FOR BACK GROUND IMAGE*/
    body, html {
      height: 100%;
    }
  
    .bg-image {
      background-image: url("pics/backg.jpg");
      filter: blur(0);
      -webkit-filter: blur(0px);
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }
  
        /* FOOTER ALL STYLING*/
        .footer-info{
          background-color: rgb(56, 55, 55);
          display:flex;
          justify-content: space-between;
          padding: 30px;
          position: relative;
        }
        .footer-info h1{
          text-decoration: underline;
          border-color: #333;
          font-stretch:wider;
          color: #fff;
          text-align: left;
          font-size: 20px;
        }
        
        .footer-info p {
          color: #fff;
          margin: 0;
          font-size: 14px;
        
        }
        .quick-feedback {
          align-items:right;
          border: 1px solid gray;
          border-radius: 4px;
          margin-top: 20px;
          padding: 15px;
        }
        
        .quick-feedback h4 {
          margin: 3;
          color: #fff;
          border-color: #333;
          font-size: 18px;
          text-align: center;
        }
        
        .quick-feedback form {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }
        
        .quick-feedback form label {
          margin-bottom: 10px;
          margin-top: 5px;
          color: #fff;
          font-size: 14px;
        }
        
        .quick-feedback form input[type="text"], .quick-feedback form textarea {
          width: 100%;
          box-sizing: border-box;
          border: 1px solid gray;
          border-radius: 4px;
          padding: 8px;
          font-size: 14px;
        }
        
        .quick-feedback form input[type="submit"] {
          background-color: rgb(255, 255, 255);
          border: 1px solid gray;
          border-radius: 4px;
          color: rgb(0, 0, 0);
          padding: 16px 32px;
          align-items: center;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 14px;
          margin-top: 12px;
          cursor: pointer;
        }
        .quick-feedback form input[type="submit"] {
          transition: background-color 0.5s ease;
        }
        .quick-feedback form input[type="submit"]:hover {
          background-color: rgb(0, 0, 0);
          color: rgb(255, 253, 253);
        }
        /* Footer Quick line*/
        footer .quick-links {
          display: flex;
          flex-direction: column;
        }
        footer .quick-links h3 {
          color: #fff;
          margin-bottom: 5px;
          font-size: 18px;
        }
        footer .quick-links ul > li {
          list-style: none;
          padding: 9px 0;
          border-top: 1px solid rgba(255,255,255,0.07);
      }
        footer .quick-links ul {
          list-style: none;
          padding: 0;
          margin: 0;
        }
        footer .quick-links ul li {
          margin-bottom: 10px;
        }
        footer .quick-links ul a {
          color: #fff;
          transition: all 0.3s ease;
        }
        footer .quick-links ul a:hover {
          color: rgba(243, 97, 109, 0.854);
        }
        /* End */
        .footer-info-middle{
          text-align: center;
        }
        .footer-info-middle p{
          text-align: left;
        }
        .google-map a{
          align-items:center;
          display: inline-block;
          margin-right: 20px;
        }
        
        .footer-info-right{
          text-align: left;
        }
        .footer-info-right p{
          text-align: left;
        }
        
        .footer-bottom {
          background-color: rgb(31, 30, 30);
          display:flex;
          justify-content: space-between;
          padding: 1px;
        }
        .footer-bottom {
          color: #fff;
          text-align: right;
        }
        
        .footer-bottom p {
          margin: 15;
          font-size: 14px;
        }
  
  